<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kalpa.pcms.mapper.TodoMapper">

    <insert id="insertTodo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms.todo (content)
        VALUES (#{content})
    </insert>

    <insert id="insertTodoList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms.todo (content)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.content})
        </foreach>
    </insert>

    <select id="selectTodoList" resultType="kr.co.kalpa.pcms.domain.Todo">
        SELECT id, content, created_at as createdAt
        FROM cms.todo
        ORDER BY id DESC
    </select>

    <delete id="deleteTodo">
        DELETE FROM cms.todo WHERE id = #{id}
    </delete>

</mapper>
