<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kalpa.pcms.domain.auth.service.UserMapper">

    <select id="findByUserId" parameterType="string" resultType="kr.co.kalpa.pcms.domain.auth.entity.User">
        SELECT id, user_id, user_pw, user_nm, created_at
        FROM cms.users
        WHERE user_id = #{userId}
    </select>

    <update id="updatePassword">
        UPDATE cms.users
        SET user_pw = #{password}
        WHERE user_id = #{userId}
    </update>

</mapper>
