<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kalpa.pcms.domain.dailylog.service.DailyLogMapper">

    <insert id="insertDailyLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms.daily_logs (ymd, title, value, color)
        VALUES (#{ymd}, #{title}, #{value}, #{color})
    </insert>

    <update id="updateDailyLog">
        UPDATE cms.daily_logs
        SET ymd        = #{ymd},
            title      = #{title},
            value      = #{value},
            color      = #{color},
            updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <delete id="deleteDailyLog">
        DELETE FROM cms.daily_logs WHERE id = #{id}
    </delete>

    <delete id="deleteDailyLogsByYmd">
        DELETE FROM cms.daily_logs WHERE ymd = #{ymd}
    </delete>

    <select id="selectDailyLogByRange" resultType="kr.co.kalpa.pcms.domain.dailylog.entity.DailyLog">
        SELECT id, ymd, title, value, color, created_at as createdAt, updated_at as updatedAt
        FROM cms.daily_logs
        WHERE ymd BETWEEN #{start} AND #{end}
        ORDER BY ymd, id
    </select>

    <select id="selectTitleTemplates" resultType="kr.co.kalpa.pcms.domain.dailylog.dto.TitleTemplateDto">
        SELECT DISTINCT ON (title) title, value, color
        FROM cms.daily_logs
        ORDER BY title, id ASC
    </select>

</mapper>
