<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kalpa.pcms.domain.file.FileMapper">

    <insert id="insertFile" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO cms.files (saved_folder, org_file_name, physical_file_name, file_size, mime_type)
        VALUES (#{savedFolder}, #{orgFileName}, #{physicalFileName}, #{fileSize}, #{mimeType})
    </insert>

    <insert id="insertFileMatch">
        INSERT INTO cms.file_match (table_name, target_id, file_id, file_type)
        VALUES (#{tableName}, #{targetId}, #{fileId}, #{fileType})
    </insert>

    <select id="selectFileMatchByTarget" resultType="kr.co.kalpa.pcms.domain.file.FileMatch">
        SELECT id, table_name as tableName, target_id as targetId,
               file_id as fileId, file_type as fileType, created_at as createdAt
        FROM cms.file_match
        WHERE table_name = #{tableName}
          AND target_id = #{targetId}
          AND file_type = #{fileType}
    </select>

    <select id="selectFilesByIds" resultType="kr.co.kalpa.pcms.domain.file.CmsFile">
        SELECT file_id as fileId, saved_folder as savedFolder,
               org_file_name as orgFileName, physical_file_name as physicalFileName,
               file_size as fileSize, mime_type as mimeType
        FROM cms.files
        WHERE file_id IN
        <foreach item="id" collection="fileIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <delete id="deleteFileMatchByTarget">
        DELETE FROM cms.file_match
        WHERE table_name = #{tableName}
          AND target_id = #{targetId}
          AND file_type = #{fileType}
    </delete>

    <delete id="deleteFileMatchByFileIds">
        DELETE FROM cms.file_match
        WHERE file_id IN
        <foreach item="id" collection="fileIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteFilesByIds">
        DELETE FROM cms.files
        WHERE file_id IN
        <foreach item="id" collection="fileIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
