<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kalpa.pcms.domain.jangbi.service.JangbiMapper">

    <sql id="search">
        <where>
            <if test="startYmd != null and startYmd != ''">
                AND ymd &gt;= #{startYmd}
            </if>
            <if test="endYmd != null and endYmd != ''">
                AND ymd &lt;= #{endYmd}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (item LIKE CONCAT('%', #{keyword}, '%')
                    OR location LIKE CONCAT('%', #{keyword}, '%')
                    OR spec LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </sql>

    <insert id="insertJangbi" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms.jangbi (ymd, item, location, cost, spec, lvl)
        VALUES (#{ymd}, #{item}, #{location}, #{cost}, #{spec}, #{lvl})
    </insert>

    <select id="selectJangbiById" resultType="kr.co.kalpa.pcms.domain.jangbi.entity.Jangbi">
        SELECT id, ymd, item, location, cost, spec, lvl, modify_dt as modifyDt
        FROM cms.jangbi
        WHERE id = #{id}
    </select>

    <update id="updateJangbi">
        UPDATE cms.jangbi
        SET ymd       = #{ymd},
            item      = #{item},
            location  = #{location},
            cost      = #{cost},
            spec      = #{spec},
            lvl       = #{lvl},
            modify_dt = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <delete id="deleteJangbi">
        DELETE FROM cms.jangbi WHERE id = #{id}
    </delete>

    <select id="selectJangbiList" resultType="kr.co.kalpa.pcms.domain.jangbi.entity.Jangbi">
        SELECT id, ymd, item, location, cost, spec, lvl, modify_dt as modifyDt,
               (SELECT count(*) FROM cms.file_match fm
                WHERE fm.table_name = 'jangbi' AND fm.target_id = j.id
                  AND fm.file_type = 'attachment') as attachmentCount
        FROM cms.jangbi j
        <include refid="search"/>
        ORDER BY ymd DESC, id DESC
        LIMIT #{size} OFFSET #{skip}
    </select>

    <select id="selectJangbiCount" resultType="int">
        SELECT count(*)
        FROM cms.jangbi
        <include refid="search"/>
    </select>

</mapper>
